  body {
  font-family: 'Open sans', sans-serif;
  }

/* Navbar */
@media screen and (min-width: 768px) {
    .navbar {
    background: transparent !important;
    border-color: transparent !important;
    }
    .navbar-brand {
      color: white !important;
    }
    .navbar-default .navbar-nav li a{
      color: white; !important;
    }
}

  .navbar-default .navbar-nav li a:hover {
    color: #777 !important;

  }

/* End Navbar */


/* header */
  header {
  background-image: url('images/hero--large.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  }

  .header-content {
  color: white;
  font-family: 'Open sans', sans-serif;
  }

  .header-content h2 {
  font-size: 20px;
  }


@media screen and (min-width: 560px) {
  .header-content {
    padding: 150px 0;
  }
  .header-content h1 {
    font-size: 55px;
  }
  .header-content h2 {
    font-size: 25px;
  }
}



  .header-content a {
  color: white;
  text-decoration: none;
  }

  .author {
  font-style: italic;
  font-family: Lora, 'Open sans', sans-serif;
  font-size: 18px;
  }
/* End Header */


/* Article */

  article {
  font-weight: 300 !important;
  }

  section p {
  font-size: 20px;
  margin-top: 35px;
  text-align: justify;
  }

  .text {
  font-weight: 100px;
  }

  figure {
  margin-top: 10px;
  }

  .caption {
  font-style: italic;
  margin: 0;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 14px;
  }

 .section-heading{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 60px;
  font-size: 36px;
  }


  .for-sale {
  margin: auto;
  }

  p a {
  color: black;
  text-decoration: underline;
  }
/* End Article */


/* Footer */
  footer {
  padding: 50px 0;
  }

  .copyright {
   margin-top: 30px;
  }

  footer i {
  background: #333;
  border-radius: 100%;
  }

  footer i:hover {
  background: #337ab7;
  }
/* End Footer */
